.centrado {
font-size: 3em;
text-align: center;
color: brown;
}

.centro {
padding: 5em 3em 10em 7em;
background-color: blue;
}

#titulo {
font-size: 05em;
  color: green;
}

div.recuadro {
  border: 1px solid black; padding: 24px 12px;
  background-color: yellow; 
  background-attachment: scroll;
}

.centrado-2 {
font-size: 3em;
text-align: center;
color: darkblue;
}


