.centrado {
font-size: 3em;
text-align: center;
color: brown;
font: comic sans;
}

.centro {
padding: 5em 3em 10em 7em;
background-color: blue;
}

#titulo {
font-size: 05em;
  color: green;
}

div.recuadro {
  background-image:url('paisaje.png'); 
  padding: 24px 12px;
  border: 1px solid black; 
  background-color: yellow; 
  background-attachment: fixed;
}

.centrado-2 {
font-size: 3em;
text-align: center;
color: darkblue;
}


