h2 {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: rgb(255, 255, 255);
    text-emphasis-color: yellow;
}

p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: gray;
    text-emphasis-color: yellow;
} 

/* FONDO DE PANTALLA*/

body {
    background-image: url('images/opbee.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}