.centrado {
font-size: 32px;
text-align: center;
color: brown;
font: comic sans;
}

.centro {
padding: 5em 3em 10em 7em;
background-color: blue;
}

#titulo {
font-size: 05em;
  color: green;
}

div.recuadro {
  background-image:url('paisaje.png'); 
  padding: 24px 12px;
  border: 1px solid black; 
  background-color: LightSteelBlack;
  background-attachment: scroll;
}

.centrado-2 {
font-size: 25px;
text-align: center;
color: darkblue;
}

div.figura1{
  padding: 24px 12px;
  border: 1px solid black; 
  background-color: LightSteelOrange;
}

div.figura2 {
  padding: 24px 12px;
  border: 1px solid black; 
  background-color: LightSteelPink; 
}

div.figura3 {
  padding: 24px 12px;
  border: 1px solid black; 
  background-image:url('paisaje.png'); 
}


  


